
<div class="container">
    <form [formGroup]="employeeForm">
      
      <hr>
      <h1>Datos Personales</h1>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="code">Código:</label>
            <input type="text" id="code" formControlName="code" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="firstName">Primer Nombre:</label>
            <input type="text" id="firstName" formControlName="firstName" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="secondName">Segundo Nombre:</label>
            <input type="text" id="secondName" formControlName="secondName" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="firstLastName">Primer Apellido:</label>
            <input type="text" id="firstLastName" formControlName="firstLastName" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="secondLastName">Segundo Apellido:</label>
            <input type="text" id="secondLastName" formControlName="secondLastName" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hireDate">Fecha de Contratación:</label>
            <input type="date" id="hireDate" formControlName="hireDate" class="form-control">
          </div>
        </div>
      </div>
      
      <hr>
      <h1>Dirección de Residencia</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="idDepartment">Departament:</label>
            <select id="idDepartment" formControlName="idDepartment" class="form-control" (change)="onDepartmentSelected($event)">
              <option *ngFor="let department of departments" [value]="department.idDepartment">{{ department.department }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="idMunicipality">Municipality:</label>
            <select id="idMunicipality" formControlName="idMunicipality" class="form-control">
              <option *ngFor="let municipality of municipality" [value]="municipality.idMunicipality">{{ municipality.municipality }}</option>
             
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col md-12">
          <div class="form-group">
            <label for="addressReference">Referencia de Dirección:</label>
            <input type="text" id="addressReference" formControlName="addressReference" class="form-control">
          </div>
        </div>
      </div>
      <hr>
      <h1>Cuentas Bancarias</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="BACaccount">Cuenta BAC:</label>
            <input type="text" id="BACaccount" formControlName="BACaccount" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="BAMaccount">Cuenta BAM:</label>
            <input type="text" id="BAMaccount" formControlName="BAMaccount" class="form-control">
          </div>
        </div>
        
      </div>
      <hr>
      <h1>Tipo de Empleado</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="idCampus">Sede:</label>
            <select id="idCampus" formControlName="idCampus" class="form-control">
              <option *ngFor="let campusItem of campus" [value]="campusItem.idCampus">{{ campusItem.campusName }}</option>
            </select>
          </div>
        </div>
        
          <div class="col-md-4">
            <div class="form-group">
              <label for="idEmployeeType">Tipo Empleado:</label>
              <select id="idEmployeeType" formControlName="idEmployeeType" class="form-control" (change)="onEmployeesTypeSelected($event)">
                <option *ngFor="let employeeTypeItem of employeeType" [value]="employeeTypeItem.idEmployeeType">{{ employeeTypeItem.employeeType }}</option>
              </select>
              
            </div>
          
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="idWorkPosition">Posición de Trabajo:</label>
            <select id="idWorkPosition" formControlName="idWorkPosition" class="form-control">
              <option *ngFor="let workPositionItem of workPosition" [value]="workPositionItem.idWorkposition">{{ workPositionItem.workPosition }}</option>
              
            </select>
          </div>
        </div>
      </div>
      
     
      <button (click)="createEmployee()">Crear Empleado</button>
    </form>
  </div>
  