<div class="wrapper">
    <div class="logo">
      <img src="../../../assets/images/logo-icon.png" alt="" />
    </div>
    <div style="text-align: center; line-height: 100px">
      <h1>IntelliSys</h1>
    </div>
    <form
      class="p-3 mt-3"
      autocomplete="off"
      [formGroup]="loginForm"
      (ngSubmit)="login()"
    >
      <div class="form-field d-flex align-items-center">
        <span class="far fa-user"></span>
        <input
          class="form-control"
          type="text"
          name="userName"
          id="userName"
          placeholder="Username"
          formControlName="userName"
        />
      </div>
      <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <input
          class="form-control"
          type="password"
          name="password"
          id="pwd"
          placeholder="Password"
          formControlName="password"
        />
      </div>
      <button class="btn mt-3">Login</button>
    </form>
  </div>
   