


    <div  class="area" class="main-sidebar fixed-sidebar">
        
        <nav class="main-menu">
           
            <ul>
                <li>
                    <a href="retelecom/dashboard">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                          Retelecom
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a href="redesis/dashboard">
                        <i class="fa fa-globe fa-2x"></i>
                        <span class="nav-text">
                           Redesis
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="administracion/dashboard">
                       <i class="fa fa-comments fa-2x"></i>
                        <span class="nav-text">
                            Administración
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-camera-retro fa-2x"></i>
                        <span class="nav-text">
                            Reportes
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a href="mantenimiento/dashboard">
                        <i class="fa fa-film fa-2x"></i>
                        <span class="nav-text">
                            Mantenimientos
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-book fa-2x"></i>
                        <span class="nav-text">
                          
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                       <i class="fa fa-cogs fa-2x"></i>
                        <span class="nav-text">
                           
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                          
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                           
                        </span>
                    </a>
                </li>
            </ul>
          
            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
          </nav>
    </div>
   
      <div>
        <router-outlet></router-outlet>
      </div>
      


