


.main_content {
  padding-top: 60px; /* Ajusta el valor según la altura de tu encabezado */
}
.wrapper .sidebar{
  position: fixed;
  width: 200px;
  height: 100%;
  padding: 30px 0;
}



/* Estilos base para el contenido principal */
.wrapper .main_content {
width: 95%; /* Ancho completo */
margin-left: 60px; /* Sin margen izquierdo */
box-sizing: border-box; /* Incluye relleno y borde en el ancho */
padding: 20px; /* Agrega espaciado opcional */
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 400px) {
.wrapper .main_content {
  padding: 10px; /* Reduce el espaciado en pantallas más pequeñas */
}
}